body, html {
    background-color: #ffffff;
    /* background-color: #a85555; */
    font-family: 'Trebuchet MS';
}

h3 {
    margin: 0px;
    /* color: teal; */
    color: rgba(160, 68, 68, 0.382);
    padding: 0px;
    text-align: center;
    font-size: 24px;
    font-family: 'Trebuchet MS';
}

h4 {
    margin: 0px;
    padding: 5px;
    text-align: center;
    font-size: 16px;
    font-family: 'Trebuchet MS';
}

/* --------------------------------------------------- */
/* NEW NAV MENU */
a {
    text-decoration: none;
}

li {
    list-style: none;
}

.navbar {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    height: 10px;
    margin: 7px;
    width: 420px;
    padding: 20px;
    border-radius: 10px;
    background-color: teal;
    color: #fff;
}

.nav-links a {
    color: #fff; 
}

.logo {
    font-size: 18px;
}

.menu {
    width: 330px;
    /* height: 5px; */
    display: flex;
    gap: 1em;
    font-size: 12px;
}

.menu li:hover {
    background-color: #77b1b1;
    border-radius: 5px;
    transition: 0.3s ease;
}

/* --------------------------------------------------- */
/* NAVIGATION MENU */
.navmenu {
    display: flex;
    justify-content: center;
    background-color: #fb9648a0;
    width: 330px;
    margin: auto;
}

.navmenubuttonhome {
    cursor: pointer;
    background-color: #a07759a0;
    border: 2px solid #da701fb3;
    margin: 2px; 
    appearance: none;
    transition: transform .7s ease-in-out;
}

.navmenubutton {
    cursor: pointer;
    background-color: #fb9648a0;
    border: 2px solid #da701fb3;
    margin: 2px; 
    appearance: none;
    transition: transform .7s ease-in-out;
}

.navmenubuttonhome:hover {
    background-color: #3497d0a9;
}

.navmenubutton:hover {
    background-color: #3497d0a9;
}

/* --------------------------------------------------- */
/* HOVER OVER MOVIE IMAGE */
.mvcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 300px;
    height: auto;
    margin: auto;
}
  
.image {
    opacity: 1;
    display: inline-block;
    width: 300px;
    height: auto;
    border: 2px solid black;
    margin: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
  
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    width: 350;
    margin: auto;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
  
.middle:hover .image {
    opacity: 0.6;
    margin: auto;
}
  
.mvcontainer:hover .middle {
    opacity: 1;
    margin: auto;
}
  
.text {
    background-color: #717171;
    color: white;
    font-size: 12px;
    width: 200px;
    height: auto;
    padding: 16px 32px;
}

.synopsis {
    padding: 10px 10px;
    color: #4ebaf9;
}

.cast {
    padding: 10px 10px;
    color: #4ebaf9;
}

.castphotos {
    color: white;
    font-size: 12px;
    font-style: italic;
    padding: 2px;
    text-align: center;
}

/* --------------------------------------------------- */
/* LIKE DISLIKE BUTTONS */

.dislikebu {
    background-color: #fb9648a0;
    border: 2px solid #da701fb3;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    appearance: none;
    transition: transform .7s ease-in-out;
    display: flex;
    justify-content: center;
    border-radius: 50%; 
}

.dislikebu:hover {
    /* background-color: #3497d0a9; */
    background-color: rgba(0, 128, 128, 0.382);
}

.flex-parent {
    display: flex;
}

.jc-center {
    padding: 6px;
    justify-content: center;
}

button.margin-right {
    margin-right: 20px; 
}

/* --------------------------------------------------- */
/* HEART AND NOT HEART */
.heart {
    position: absolute;
    bottom: 300px;
    opacity: 0.7;
    left: 150px;
}

.heartbreak {
    position: absolute;
    bottom: 300px;
    opacity: 0.7;
    left: 150px;
}

/* --------------------------------------------------- */
/* LISTS */
.lists {
    position: absolute;
    bottom: 300px;
    left: 175px;
    /* border: 1px solid black; */
    background-color: white;
    color: #da701fb3;
    text-align: center;
    font-size: 30px;
    font-family: 'Trebuchet MS';
    align-items: center;
    /* padding: 5px; */
}

option {
    color: #da701fb3;
}

