body, html {
  background-color: #ffffff;
  font-family: 'Trebuchet MS';
}

h2 {
  padding-left: 20px;
  font-size: 24px;
  color: #cc6c22a0;
}

.movieandbookmark {
  top: 75px;
  /* margin: 0px; */
  color: teal;
  /* left: 20px;  */
  padding-left: 20px;
  padding-top: 13px;
  padding-bottom: 20px;
  text-align: left;
  font-size: 33px;
  font-family: 'Trebuchet MS';
}

.bookmark {
  background-color: #fb9648a0; 
  border-radius: 10px;
  padding: 7px;
  margin-left: 10px;
  text-align: right;
  /* text-align: right; */
  right: 15px;
}

.image-list-small {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    text-align: center;
    max-width: 640px;
    padding: 0;
  }
  
  .image-list-small li {
    display: inline-block;
    width: 181px;
    margin: 0 12px 30px;
  }
  
  
  /* Photo */
  
  .image-list-small li > a {
    display: block;
    text-decoration: none;
    background-size: cover;
    background-repeat: no-repeat;
    height: 137px;
    margin: 0;
    padding: 0;
    border: 4px solid #ffffff;
    outline: 1px solid #d0d0d0;
    box-shadow: 0 2px 1px #DDD;
  }
  
  .image-list-small .details {
    margin-top: 13px;
  }
  
  .image-list-small li > image {
    opacity: 1;
    display: inline-block;
    width: 250px;
    height: auto;
    border: 2px solid black;
    margin: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  /* Title */
  
  .image-list-small .details h3 {
    display: block;
    font-size: 12px;
    margin: 0 0 3px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .image-list-small .details h3 a {
    color: #303030;
    text-decoration: none;
  }
  
  .image-list-small .details .image-author {
    display: block;
    color: #717171;
    font-size: 11px;
    font-weight: normal;
    margin: 0;
  }


.cast {
    padding: 10px 10px;
    color: #4ebaf9;
}

.castphotos {
    gap: 20px;
    color: white;
    font-size: 12px;
    font-style: italic;
    padding: 2px;
    text-align: center;
}

.mvcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 300px;
    height: auto;
    margin: auto;
}

* {
  box-sizing: border-box;
}

figcaption {
  padding-top: 25px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}