body, html {
    background-color: #ffffff;
    font-family: 'Trebuchet MS';
}

h3 {
    margin: 0px;
    /* color: teal; */
    color: red;
    padding: 0px;
    text-align: center;
    font-size: 24px;
    font-family: 'Trebuchet MS';
}

h4 {
    margin: 0px;
    padding: 5px;
    text-align: center;
    font-size: 16px;
    font-family: 'Trebuchet MS';
}

.movie_image {
    opacity: 1;
    display: inline-block;
    width: 300px;
    height: auto;
    border: 2px solid black;
    margin: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

