div.scrollmenu {
    background-color: #333;
    overflow: auto;
    height: 25px;
    width: 200px;
    padding: 5px;
    background-color: #DA7930;
}
  
div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
  
div.scrollmenu a:hover {
    background-color: #3c7fb2;
}

.movie_container {
    position: relative;
    width: 50%;
}
  
.movie_image {
    opacity: 1;
    display: block;
    width: 50%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
  
.middle_movie {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
  
.movie_container:hover .movie_image {
    opacity: 0.3;
}
  
.movie_container:hover .middle_movie {
    opacity: 1;
}
  
.text_movie {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

/* .heart-invisible {
    display: none;
    opacity: 50%;
} */

/* .movie-poster-div {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
} */

/* .movie-poster-img {
    width: 300px;
    height: 500px;
} */

/* .movie-poster-div .content_img {
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 10px;
} */

/* .movie-poster-div .content_img div{
    bottom: 0;
    right: 0;
    background: black;
    color: white;
    margin-bottom: 5px;
    font-family: sans-serif;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;
} */

/* .movie-poster-div .content_img:hover{
    cursor: pointer;
} */

/* .movie-poster-div .content_img:hover div{
    width: 150px;
    padding: 8px 15px;
    visibility: visible;
    opacity: 0.7; 
} */

/* .movie-poster-div .like-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
} */